/* CSS Document */

#slidemenubar, #slidemenubar2{
position:absolute;
border:1.5px solid black;
background-color:#F2F2F2;
layer-background-color:#F2F2F2;
font:bold 12px Verdana;
line-height:20px;
}


.cmsmenulink {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	margin-left: 5px;
}

.editarticlelink {
     color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	margin-left: 5px;
}

.cmsmenulinkdisabled {
	color: silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	margin-left: 5px;
}